body {
    background-color: rgb(180, 181, 238);
}

.inicio {
    align-items: center;
    text-align: center;
    font-style: italic;
    text-shadow: 1.5px 1.5px 1.5px white;
}

button {
    background-color: rgb(109, 167, 253);
    box-shadow: 3px 3px 3px ;
}

.botao {
    align-items: center;
    text-align: center;

}

button:hover {
    background-color: rgb(186, 198, 238);
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px white;
    font-style: italic;
}

#peso{
    box-shadow: 3px 3px 3px black;
    height: 20px;
    width: 170px;
}

#altura{
    box-shadow: 3px 3px 3px black;
    height: 20px;
    width: 170px;
}

#nome{
    box-shadow: 3px 3px 3px black;
    height: 20px;
    width: 170px;
}

.perigo {
    color: red;
}

.alerta1 {
    color: orange;
}

.alerta2 {
    color: yellow;
}

.Saudável {
    color: green;
}

.alerta3 {
    color: blue;
}

.alerta4 {
    color: blueviolet;
}

.alerta5 {
    color: brown;
}

.alerta6 {
    color: black;
}