body {
    background-color: rgb(161, 162, 235);
}

.inicio {

    align-items: center;
    text-align: center;
    font-style: italic;
    text-shadow: 1.5px 1.5px 1.5px white;
    
}

button{
  background-color: rgb(109, 167, 253);
  box-shadow: 3px 3px 3px black;
}
.botao{
    align-items: center;
    text-align: center;
}
button:hover {
    background-color: rgb(195, 207, 248);

}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px white;
    font-style: italic;
}

.perigo {
    color: red;
}

.alerta1 {
    color: orange;
}

.alerta2 {
    color: yellow;
}

.Saudável {
    color: green;
}

.alerta3 {
    color: aqua;
}

.alerta4 {
    color: blue;
}

.alerta5 {
    color: blueviolet;
}

.alerta6 {
    background-color: black;
}